@tailwind base;
@tailwind components;
@tailwind utilities;

.fancy-text{
  position: relative;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text; 
  background-image: repeating-radial-gradient(farthest-side at 6px 10px,#7095db, #cadee6, #7095db);

}

.dosis {
  font-family: Dosis;
}
